.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.count {
    font-size: 42px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.backBtn {
    position: absolute;
    top: 25px;
    left: 15px;
}